<h1>Lista de Produtos</h1>
 
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nome Produto 1</td>
      <td>R$99,99</td>
      <td>
        <a href="" class="btn btn-primary btn-sm">Ver</a>
        <a href="" class="btn btn-primary btn-sm">Editar</a>
        <form action="">
            <input type="text">
            <button class="btn btn-danger btn-sm">Deletar</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>